Dare2Date/src/main/webapp/WEB-INF/datesuggestion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://dare2date.com/dd/" targetNamespace="http://dare2date.com/dd/">
    <element name="HolidayRequest" type="ds:DateSuggestionType"/>

    <complexType name="DateSuggestionType">
        <all>
            <element name="UserId" type="integer"/>
            <element name="InviteeId" type="integer"/>
        </all>
    </complexType>
</schema>