Dare2Date/src/main/webapp/WEB-INF/datesuggestion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDateSuggestion">
    <xs:complexType>
	<xs:sequence>
		<xs:element name="UserId" type="xs:integer" />
		<xs:element name="InviteeId" type="xs:integer" />
	</xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>